/*
IMPORTAÇÃO DE FONTE
Fonte importada de fonts.google.com
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
RESET CSS
A formatção a seguir é aplicada a todos os elementos da página
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Ajustando página ao tamanho da tela
*/
html,
body {
  height: 100vh;
}

/*
Formatando body para que conteudo da página fique centralizado verticalmente
*/
body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*
Conteudo principal foca centralizado verticalmente
*/
main {
  margin: 0 auto;
  min-height: 500px;
  width: 100%;
  max-width: 360px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#calculadora-imc {
  padding: 5%;
  box-shadow: 0px .5px 5px 1px #888888;
}

h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: -0.05em;
}

h1 strong {
  font-weight: 900;
}

input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 15px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
  text-align: center;
}

button#btn-result{
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 15px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #0487CC;
  background-color: #0487CC;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
}

button#btn-result:hover {
  transition: .3s;
  background-color: #ffffff;
  color: #0487CC;
}

button#btn-result:focus {
  transition: .3s;
  background-color: #ffffff;
  color: #0487CC;
}

h3 {
  /* font-weight: bold;
  font-size: 18px;
  margin-top: 20px; */
  font-size: 22px;
  margin: 10px 0;
  /* font-weight: 900; */
}

h2 {
  color: #750000;
  font-size: 22px;
  margin: 10px 0;
  font-weight: 900;
}

#result {
  /* margin-bottom: 20px; */
  box-shadow: 0px .5px 5px 1px #888888;
  padding: 2%;
}

/* History */
button#btn-history {
  border: none;
  background: none;
  font-size: 16px;
  color: #222222;
  padding: 0;
  margin-top: 20px;
  font-weight: bold;
}

button#btn-history:active {
  border: none;
}

button#btn-history:focus {
  border: none;
}

#history {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.imc-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imc-history p {
  width: 100%;
}

.imc-history h2,
.imc-history h3 {
  margin: 0;
}

/* Transition */
.fade-in {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
}